In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect(':memory:')
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'score': [85, 90, 95]
})
df.to_sql('students', conn, index=False, if_exists='replace')

In [ ]:
result = pd.read_sql('SELECT * FROM students WHERE score > 88', conn)
print(result)